**/GitIgnore_*
roles/commonTools/files/bamtools.tar.gz
roles/commonTools/files/bedtools.tar.gz
roles/commonTools/files/bismark.tar.gz
roles/commonTools/files/bowtie1.tar.gz
roles/commonTools/files/bowtie2.tar.gz
roles/commonTools/files/bwa.tar.gz
roles/commonTools/files/fastqc.tar.gz
roles/commonTools/files/fqtrim.tar.gz
roles/commonTools/files/HTSeq.tar.gz
roles/commonTools/files/multovl.tar.gz
roles/commonTools/files/Rcount.tar.gz
roles/commonTools/files/RSEM.tar.gz
roles/commonTools/files/samtools.tar.gz
roles/commonTools/files/soapAligner.tar.gz
roles/commonTools/files/soapBuilder.tar.gz
roles/commonTools/files/star.tar.gz
roles/commonTools/files/subread.tar.gz
roles/commonTools/files/trimGalore.tar.gz
roles/commonTools/files/UCSC.tar.gz
roles/additionalTools/files/CEAS.tar.gz
roles/additionalTools/files/GEM.tar.gz
roles/additionalTools/files/htsjdk.tar.gz
roles/additionalTools/files/jChIP.tar.gz
roles/additionalTools/files/MACS.tar.gz
roles/additionalTools/files/MAnorm.tar.gz
roles/additionalTools/files/PAPST.tar.gz
roles/additionalTools/files/PeakAnalyzer.tar.gz
roles/additionalTools/files/phantompeakqualtools.tar.gz
roles/additionalTools/files/picard.tar.gz
roles/additionalTools/files/SICER.tar.gz
roles/additionalTools/files/SPP.tar.gz
roles/additionalTools/files/trimmomatic.tar.gz